<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-final-project-nazlizamanian.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C1C515D2C22D65800890A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C1C516D2C22D66100890A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C1C51772C22D66100890A50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
